/*this is the body it controls the bigger picture properties*/
body {
    width: 100%;
    height: 100%;
    font-family:'system-ui', '-apple-system', 'Segoe UI', 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: center;
}
* {
    margin: 0px;
}
.father {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 0;
}

/*this is container1 styling*/
.hero, footer{ 
    background-color: #1F2937;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.header{
    font-size: 24px;
    color: #F9FAF8;
    align-self: center;
}

.right-links{
    display: flex;
    gap: 20px;
    font-size: 18px;
    list-style-type: none;
    text-decoration: none;
    color: #E5E7EB;
}
.Text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.herocon {
    display: flex;
}
/*this is container2 styling*/
.container02{
    background-color: white;
    padding-bottom: 50px;
    color: black;
}
div.container02 > h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 40px;
}

.mother {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
 .item{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 150px;
   text-align: center;
}
div.item > div.box {
    border: #3882f6 3px solid;
    border-radius: 15px;
    height: 150px;
    width: 150px;
}

/*this is container3 styling*/
.container03 {
    background-color: #E5E7EB;
    font-weight:lighter;
    font-style: italic;
    font-size: 30px;
    color: #1F2937;
    padding: 100px;
    padding-left: 250px;
}

div.container03 div {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*this is container4 styling*/
.container04{
   background-color: white;
   align-self: center;
}
.subcon {
    background-color: #3882f6;
    color: white;
    margin: 50px 100px;
    border-radius: 7px;
    padding: 20px 40px;
}

/*Footer styling and Random element styling*/
.footer {
    color: white;
    height: 70px;
    background-color: hwb(215 12% 78%);
    text-align: center;
}
.footer > p {
    padding: 25px;
}
img {
    width: 200px;
    height: 100px;
}
button{
    color: white;
    background-color: #3882f6;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border: white solid 1px;
}

/* from here on i'm just gonna write exactly what they gave us in backupcode.png 
body {
    font-family: "Roboto";
}
.hero .footer {
    background-color: #1F2937;
}
.Text p, .right-links {
    font-size: 18px;
    color: #E5E7EB;
}
.header {
    font-size: 24px;
    color: #F9FAF8;
}
button , .container04{
    background-color: #3882f6;
}
div > h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.container03 > p {
    background-color:#E5E7EB;
    font-size: 36px;
    font-weight: light;
    font-style: italic #1F2937;
}
    */